.header-container {
	grid-column: 1/4;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: minmax(33%, 34%) minmax(33%, 34%) minmax(33%, 34%);
   background: rgb(41, 39, 39);
	border-bottom: 2px solid black;
}

.header-column1 {
	grid-column: 1/2;
	display: flex;
	align-items: center;
	margin: 0 0 0 15px;
}

.header-link {
	color: white;
	text-decoration: none;
}

.header-img {
	grid-column: 2/3;
	display: flex;
	justify-content: center;
	align-content: center;
}