.landing-page-container {
   min-height: 100vh;
	width: 100%;
   background: white;
}

.landing-page-content {
	min-height: 100vh;
	max-width: 70rem;
	margin: 0 auto;

	display: grid;
	grid-template-rows: minmax(10%, 4rem) 90%;

	// border: 1px solid black;
}

nav {
   margin: 0 2rem;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.quote-button {
   grid-row: 2/3;
   margin: 0 2rem;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.quote {
   width: 60%;
   min-width: 60%;

   // border: 1px solid red;

   h1 {
      margin-bottom: 0.65em;
   }
}

.button-main {
   max-height: 6rem;
   width: 20rem;
   height: 60vh;
   max-width: 100%;

   border-radius: 1.5rem;
   background-color: $button-color;
   color: white;
   box-shadow: -2px 5px 8px rgba(0, 0, 0, 0.6);

   h2 {
      font-size: 2rem;
      font-weight: normal;
   }
}