.match-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// border: solid black 2px;
}

.match-found-container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: 20% 80%;
	align-items: center;
	justify-content: center;
}

.match-countdown {
	grid-row: 2/3;
	margin: 0 0 20% 0;
	padding: 0 0 5% 0;
	text-align: center;
}

.round-results {
	/* background: orange; */
	display: flex;
	flex-direction: column;
	margin: 10px 0 10px 0;
}

.round-results h3, h4 {
	margin: 0px;
}

.stat-line {
	display: flex;
	flex-direction: row;
}