@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin centeredGridItem() {
	align-self: center;
	justify-self: center;
}

$green-color: rgb(54, 228, 68);
$red-color: red;
$main-color: rgb(86, 16, 143);
$main-color2: rgb(109, 22, 180);

.customroom-container {
	// border: 2px solid purple;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.customroom-lobby {
   height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 10% 60% 30%;
	grid-template-columns: 40% 60%;
   input[type=text] {
		margin: 5px;
		padding-left: 7px;
		height: 35px;
		width: 200px;
		border: 1px solid black;
		border-radius: 5px;
	}
	button {
		margin: 5px;
		padding: 3px;
		height: 35px;
		width: 100px;
		border: 1px solid black;
		border-radius: 5px;
	}
}

.customroom-title {
	grid-row: 1/2;
	grid-column: 1/3;
	@include centeredGridItem();
}

.customroom-leave {
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
   justify-content: flex-end;
	margin: 0;
	padding: 0;
   input[type=image] {
      border: none;
      height: 15px;
      width: 15px;
		padding: 0;
      &:focus {
         outline: none;
      }
		&:hover {
			border: 1px solid black;
			background: grey;
		}
   }
}

.users-room-container {
	background: rgb(22, 21, 21);
	border: 2px solid $main-color;
	border-radius: 10px;
	margin: 0.2rem;
	width: 90%;
	height: 100%;
	grid-row: 2/3;
	grid-column: 1/2;
	justify-self: center;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.user-ready-container {
	border: 2px solid white;
	border-radius: 10px;
	margin: .3rem;
	padding: .3rem;
	height: 2.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h3 {
		color: white;
	}
	h4 {
		color: $green-color;
	}
}

.user-unready-container {
	border: 2px solid white;
	border-radius: 10px;
	margin: .3rem;
	padding: .3rem;
	height: 2.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h3 {
		color: white;
	}
	h4 {
		color: $red-color;
	}
}

.chatbox-container {
	border: 2px solid yellow;
	grid-row: 2/3;
	grid-column: 2/3;
	width: 90%;
	margin: 0 0 0 0;
	padding: 0.2rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 85% 15%;
}

.chatbox {
	border: solid black 2px;
	border-radius: 10px;
	margin: 0.5rem;
	padding: 5px;
	width: 100%;
	min-height: 100px;
	grid-column: 1/2;
	grid-row: 1/2;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background: white;
	h2, h3 {
		// border: 1px solid black;
		color: black;
		padding: 3px 10px 3px 10px;
		margin: 2px;
	}
	h2 {
		font-weight: bold;
		font-size: 20px;
		border-radius: 5px;
		background: rgb(192, 188, 188);
	}
	h3 {
		font-weight: normal;
		font-size: 18px;
	}
}

.chatbox-form {
	grid-column: 1/4;
	grid-row: 2/3;
	width: 100%;
	@include flexCenter();
	button {
		width: 100px;
	}
}

.customroom-buttons {
	// border: 1px solid black;
	grid-row: 3/4;
	grid-column: 1/3;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	button {
		width: 150px;
	}
}

.button-ready {
	// background-color: $green-color;
	border: 2px solid $green-color;
}

.button-unready {
	background-color: $red-color;
	width: 150px;
	border: yellow;
}