@import './chatbox';

@mixin flexCenter() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin centeredGridItem() {
	align-self: center;
	justify-self: center;
}

@mixin userListItem() {
	border: 2px solid white;
	border-radius: .7rem;
	margin: .3rem;
	padding: .3rem;
	height: 2.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

$green-color: rgb(54, 228, 68);
$red-color: red;
$main-color: rgb(86, 16, 143);
$main-color2: rgb(109, 22, 180);

.customroom-container {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.customroom-lobby {
   height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 10% 60% 30%;
	grid-template-columns: 40% 60%;
}

.customroom-title {
	grid-row: 1/2;
	grid-column: 1/3;
	@include centeredGridItem();
	color: $main-color;
}

.customroom-leave {
	grid-row: 1/2;
	grid-column: 2/3;
	display: flex;
   justify-content: flex-end;
   input[type=image] {
      border: none;
      height: 10px;
      width: 10px;
		margin: 0.5rem 0.5rem;
      &:focus {
         outline: none;
      }
		&:hover {
			height: 13px;
         width: 13px;
		}
   }
}

.users-list-container {
	grid-row: 2/3;
	grid-column: 1/2;
	width: 90%;
	max-width: 20rem;
	height: 100%;
	@include centeredGridItem();
	padding: 0.2rem;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	background: rgb(41, 39, 39);
	border: 2px solid $main-color;
	border-radius: .8rem;
	h4 {
		color: white;
	}
}

.customroom-capacity {
	// border: 1px solid red;
	margin-bottom: .5rem;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-ready-container {
	@include userListItem();
	strong{
		color: $green-color;
		font-weight: normal;
	}
}

.user-unready-container {
	@include userListItem();
	strong {
		color: $red-color;
		font-weight: normal;
	}
}

.customroom-buttons {
	// border: 1px solid black;
	grid-row: 3/4;
	grid-column: 1/3;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.button-customroom {
	height: 2rem;
	width: 9rem;
	border: 1px solid black;
	border-radius: .4rem;
	background: white;
	color: black;
	position: relative;
	z-index: 0;
	&:focus {
		outline: none;
	}
}

.button-customroom::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: .3rem;

	transform: scaleX(0);
	transition: transform 250ms ease-in;
	z-index: -1;
}

.button-start-game {
	color: black;
	// want to make an effect where it will
	// be green if the game is ready to start
	// or red if not everyone is ready
}

.button-ready::after {
	background: $red-color;
	transform-origin: right;
}

.button-ready:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.button-unready::after {
	background: $green-color;
	transform-origin: left;
}

.button-unready:hover::after {
	transform: scaleX(1);
	transform-origin: right;
}

// .button-unready {
// 	&:hover {
// 		background-color: rgb(214, 209, 209);
// 	}
// }