.questions-list-container {
	grid-column: 1/2;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	// background: yellow;
	h2, h3 {
		color: white;
	}
}