@mixin centeredGridItem() {
	align-self: center;
	justify-self: center;
}

$green-color: rgb(54, 228, 68);
$red-color: red;

// form to create a new room
.create-room {
	grid-row: 2/3;
	grid-column: 1/2;
	// border: 2px solid yellow;
	width: 70%;
	height: 80%;
	@include centeredGridItem();
	margin: 0 0 10% 0;
	form {
		border: 1px solid black;
		border-radius: 10px;
		background: lightgray;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: minmax(70px, 25%) repeat(4, minmax(20px, 12.5%)) minmax(70px, 25%);
		grid-template-columns: 50% 50%;
      h4 {
         font-size: 16px;
      }
      select {
         width: 85px;
      }
	}
}

.create-room-name {
	grid-row: 1/2;
	grid-column: 1/3;
	@include centeredGridItem();
   // display: flex;
   // justify-content: center;
   // align-items: center;
}

.create-room-form1 {
   // border: 1px solid black;
   grid-row: 2/3;
   grid-column: 1/3;
   @include centeredGridItem();
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
}

.create-room-form2 {
   // border: 1px solid black;
   grid-row: 3/4;
   grid-column: 1/3;
   @include centeredGridItem();
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
}

.create-room-form3 {
   // border: 1px solid black;
   grid-row: 4/5;
   grid-column: 1/3;
   @include centeredGridItem();
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
}

.create-room-form4 {
   // border: 1px solid black;
   grid-row: 5/6;
   grid-column: 1/3;
   @include centeredGridItem();
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
}

.create-room-submit {
	grid-row: 6/7;
	grid-column: 1/3;
	@include centeredGridItem();
   button {
      margin: 5px;
      height: 30px;
      width: 130px;
      background-color: $green-color;
		color: black;
      border: none;
      border-radius: 15px;
   }
}

.create-room-cancel {
	grid-row: 1/2;
	grid-column: 2/3;
	// @include centeredGridItem();
   display: flex;
   justify-content: flex-end;
   input[type=image] {
      border: none;
      height: 15px;
      width: 25px;
      &:focus {
         outline: none;
      }
   }
}

.incorrect-select {
	select {
		width: 100px;
	}
}