@mixin flexColumn () {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center-container {
	grid-column: 2/3;
	height: 100%;
	width: 100%;
	// display: flex;
	// justify-content: center;
	background: rgba(63, 194, 238, 0.781);
}

.room-container {
	border: 1px solid red;
	height: 100%;
	width: 100%;
	// @include flexColumn();
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40% 60%;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		font-size: 50px;
	}
}

.room-select-interface {
	display: flex;
	flex-direction: column;
	align-items: center;
	// border: 1px solid green;
	height: 100%;
	width: 100%;
	input {
		margin-bottom: 10px;
		padding-left: 7px;
		height: 35px;
		width: 200px;
		border: 1px solid black;
		border-radius: 5px;
	}
	button {
		margin: 5px;
		padding: 3px;
		height: 30px;
		width: 140px;
		border: 1px solid black;
		border-radius: 5px;
	}
	select {
		width: 50px;
	}
}

.available-rooms { // default shows all available rooms
	display: flex;
	flex-direction: column;
	height: 100%;
}

.create-room { // form to create a new room
	border: 2px solid yellow;
	width: 100%;
	height: 100%;
	form {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: repeat(5, minmax(60px, 20%));
		grid-template-columns: 50% 50%;
		justify-content: center;
		align-items: center;
		label {
			border: 1px solid black;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}

.create-room-name {
	grid-row: 1/2;
	grid-column: 1/3;
}

.create-room-submit {
	grid-row: 5/6;
	grid-column: 1/2;
	display: flex;
	justify-content: center;
}

.create-room-cancel {
	grid-row: 5/6;
	grid-column: 2/3;
	display: flex;
	justify-content: center;
}

.incorrect-select {
	select {
		width: 100px;
	}
}








.gameroom-container {
	border: solid yellow 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 85%;
	width: 100%;
   overflow: auto;
   h1 {
	   text-align: center;
   }
}

.inroom-container {
	// border: 1px solid red;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 20% 74% 5%;
	align-items: center;
}

.search-game-button {
	grid-row: 2/3;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 15% 0;
}

.inqueue-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: 20% 80%;
	align-items: center;
}

.searching-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 0 15% 0;
}

.leave-room-button {
	grid-row: 3/4;
	display: flex;
	justify-content: center;
}