/* ======================
			TYPOGRAPHY
   ====================== */

h1 {
   font-size: 3rem;
   font-weight: bold;
}

h2 {
   font-size: 1.5rem;
}

h3 {
   font-size: 1.2rem;
   font-weight: normal;
}

h4 {
   font-size: 1rem;
   font-weight: normal;
}

h5 {
   font-size: .85rem;
   font-weight: normal;
}

a {
   color: #0070f3;
   text-decoration: none;
   &:hover:focus:active {
      text-decoration: underline;
   }
}