@import './general/fonts';
@import './general/colors';
@import './general/items';

@import './components/landingPage';

@import '../components/Header/_header.scss';
@import '../components/Footer/_footer.scss';
@import '../components/QuestionsList/_questionsList.scss';
@import '../components/Match/_match.scss';
@import '../components/NormalRound/_normalRound.scss';
@import '../components/Deathmatch/_deathmatch.scss';
@import './_gamelobby.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	font-size: 1rem;
	// line-height: calc(2px + 4rem + 2px);
}

.gamelobby-page-container {
	display: grid;
	grid-template-columns: minmax(150px, 20%) 1fr minmax(150px, 20%);
	grid-template-rows: minmax(5vh, auto) minmax(90vh, 1fr) minmax(5vh, auto);
	// background: rgb(46, 46, 46);
	background: rgb(22, 21, 21);
}

.users-container {
	grid-column: 3/4;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2,
	h3 {
		color: white;
	}
}

/* =========================
			BUTTONS & STUFF
   ========================= */

.button-1 {
	height: 2rem;
	margin: 0.4rem;
	border: 1px solid $main-color;
	border-radius: .4rem;
}

.select-1 {
	width: 100px;
}

.link-text {
	text-decoration: none;
	color: $main-color2;
	position: relative;
}

.link-text::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .2rem;
	background: currentColor;

	transform: scaleX(0);
	transform-origin: right;
	transition: transform 250ms ease-in;
}

.link-text:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}