.header-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(33%, 34%) minmax(33%, 34%) minmax(33%, 34%);
      grid-template-columns: minmax(33%, 34%) minmax(33%, 34%) minmax(33%, 34%);
  background: #292727;
  border-bottom: 2px solid black;
}

.header-column1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 15px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #292727;
  border-top: 2px solid black;
}

.questions-list-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center; */
}

.questions-list-container h2, .questions-list-container h3 {
  color: white;
}

.match-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-found-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.match-countdown {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin: 0 0 20% 0;
  padding: 0 0 5% 0;
  text-align: center;
}

.round-results {
  /* background: orange; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 10px 0;
}

.round-results h3, h4 {
  margin: 0px;
}

.stat-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.question-area {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 0.6fr;
      grid-template-rows: 0.1fr 0.6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-input {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
}

.answer-correct {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
  outline: none;
  -webkit-animation-name: correct;
          animation-name: correct;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.answer-incorrect {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
  background: grey;
  outline: none;
  -webkit-animation-name: incorrect;
          animation-name: incorrect;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes correct {
  from {
    border: 3px solid #36e444;
  }
  to {
    border: 2px solid black;
  }
}

@keyframes correct {
  from {
    border: 3px solid #36e444;
  }
  to {
    border: 2px solid black;
  }
}

@-webkit-keyframes incorrect {
  from {
    border: 3px solid red;
  }
  to {
    border: 2px solid black;
  }
}

@keyframes incorrect {
  from {
    border: 3px solid red;
  }
  to {
    border: 2px solid black;
  }
}

.question-area {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 0.6fr;
      grid-template-rows: 0.1fr 0.6fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-input {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
}

.answer-correct {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
  outline: none;
  -webkit-animation-name: correct;
          animation-name: correct;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.answer-incorrect {
  height: 60px;
  width: 120px;
  font-size: 30px;
  border: 2px solid black;
  background: grey;
  outline: none;
  -webkit-animation-name: incorrect;
          animation-name: incorrect;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@keyframes correct {
  from {
    border: 3px solid #36e444;
  }
  to {
    border: 2px solid black;
  }
}

@keyframes incorrect {
  from {
    border: 3px solid red;
  }
  to {
    border: 2px solid black;
  }
}

.gameroom-container {
  border: solid yellow 2px;
  height: 100%;
  min-height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.gameroom-container h1 {
  text-align: center;
}

.inroom-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 74% 5%;
      grid-template-rows: 20% 74% 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-game-button {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 15% 0;
}

.inqueue-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searching-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15% 0;
}

.leave-room-button {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-room-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 70%;
  max-width: 30rem;
  min-width: 25rem;
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 0 3rem 0;
}

.create-room-container form {
  border: 2px solid #56108f;
  border-radius: 0.8rem;
  background: white;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(70px, 25%) (minmax(20px, 12.5%))[4] minmax(70px, 25%);
      grid-template-rows: minmax(70px, 25%) repeat(4, minmax(20px, 12.5%)) minmax(70px, 25%);
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.create-room-container form select {
  width: 5.5rem;
  border: 1px solid #56108f;
}

.create-room-container form select:focus {
  outline: none;
  border: 2px solid #56108f;
}

.create-room-container form select:hover {
  border: 2px solid #56108f;
}

.create-room-name {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.create-room-name input {
  height: 2rem;
  width: 13rem;
  padding-left: .6rem;
  border: 1px solid #56108f;
  border-radius: .4rem;
  font-size: .9rem;
}

.create-room-name input:focus {
  outline: none;
  border: 2px solid #56108f;
}

.create-room-name input:hover {
  border: 2px solid #56108f;
}

.create-room-form1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.create-room-form1:hover h3 {
  font-weight: bold;
}

.create-room-form1:hover select {
  border: 2px solid #56108f;
}

.create-room-form2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.create-room-form2:hover h3 {
  font-weight: bold;
}

.create-room-form2:hover select {
  border: 2px solid #56108f;
}

.create-room-form3 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.create-room-form3:hover h3 {
  font-weight: bold;
}

.create-room-form3:hover select {
  border: 2px solid #56108f;
}

.create-room-form4 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.create-room-form4:hover h3 {
  font-weight: bold;
}

.create-room-form4:hover select {
  border: 2px solid #56108f;
}

.create-room-submit {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.create-room-submit button {
  height: 2rem;
  width: 8rem;
  margin: 5px;
  background-color: #56108f;
  color: white;
  border: none;
  border-radius: 15px;
}

.create-room-submit button:focus {
  outline: none;
}

.create-room-submit button:hover {
  background-color: #6d16b4;
}

.create-room-cancel {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-room-cancel input[type=image] {
  border: none;
  height: 10px;
  width: 10px;
  margin: 0.5rem 0.5rem;
}

.create-room-cancel input[type=image]:focus {
  outline: none;
}

.create-room-cancel input[type=image]:hover {
  height: 13px;
  width: 13px;
}

.chatbox-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 100%;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
}

.chatbox-outer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  border: 2px solid #56108f;
  border-radius: .8rem;
  overflow: hidden;
}

.chatbox-inner {
  height: 100%;
  width: 100%;
  min-height: 100px;
  padding: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  background: white;
}

.chatbox-inner h2, .chatbox-inner h3 {
  color: black;
  padding: 3px 10px 3px 10px;
  margin: 2px;
}

.chatbox-inner h2 {
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  background: #c0bcbc;
}

.chatbox-inner h3 {
  font-weight: normal;
  font-size: 18px;
}

.chatbox-form {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chatbox-form input[type=text] {
  height: 2rem;
  width: 100%;
  margin-right: 1rem;
  padding-left: .4rem;
  border: 1px solid #56108f;
  border-radius: .4rem;
  font-size: .8rem;
}

.chatbox-form input[type=text]:focus {
  outline: none;
  border: 2px solid #56108f;
}

.chatbox-form input[type=text]:hover {
  border: 2px solid #56108f;
}

.chatbox-form button {
  height: 2rem;
  width: 6rem;
  background-color: #56108f;
  color: white;
  border: none;
  border-radius: .9rem;
}

.chatbox-form button:focus {
  outline: none;
}

.chatbox-form button:hover {
  background-color: #6d16b4;
}

.chatbox-submit {
  height: 2rem;
  width: 15%;
  max-width: 4.5rem;
  min-width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .4rem;
  background-color: #56108f;
}

.chatbox-submit:hover {
  background-color: #6d16b4;
}

.chatbox-submit input[type=image] {
  height: 1rem;
  width: 1.7rem;
}

.chatbox-submit input[type=image]:focus {
  outline: none;
}

.customroom-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.customroom-lobby {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 60% 30%;
      grid-template-rows: 10% 60% 30%;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.customroom-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #56108f;
}

.customroom-leave {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customroom-leave input[type=image] {
  border: none;
  height: 10px;
  width: 10px;
  margin: 0.5rem 0.5rem;
}

.customroom-leave input[type=image]:focus {
  outline: none;
}

.customroom-leave input[type=image]:hover {
  height: 13px;
  width: 13px;
}

.users-list-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 90%;
  max-width: 20rem;
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background: #292727;
  border: 2px solid #56108f;
  border-radius: .8rem;
}

.users-list-container h4 {
  color: white;
}

.customroom-capacity {
  margin-bottom: .5rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-ready-container {
  border: 2px solid white;
  border-radius: .7rem;
  margin: .3rem;
  padding: .3rem;
  height: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-ready-container strong {
  color: #36e444;
  font-weight: normal;
}

.user-unready-container {
  border: 2px solid white;
  border-radius: .7rem;
  margin: .3rem;
  padding: .3rem;
  height: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-unready-container strong {
  color: red;
  font-weight: normal;
}

.customroom-buttons {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-customroom {
  height: 2rem;
  width: 9rem;
  border: 1px solid black;
  border-radius: .4rem;
  background: white;
  color: black;
  position: relative;
  z-index: 0;
}

.button-customroom:focus {
  outline: none;
}

.button-customroom::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  z-index: -1;
}

.button-start-game {
  color: black;
}

.button-ready::after {
  background: red;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.button-ready:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.button-unready::after {
  background: #36e444;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.button-unready:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.room-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-height: 85vh;
  min-height: 50rem;
  height: 100%;
  width: 100%;
  min-width: 35rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid #56108f;
  border-radius: .8rem;
  background: white;
}

.room-select-container {
  height: 100%;
  width: 100%;
  border-radius: .8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 30% 70%;
      grid-template-rows: 30% 70%;
}

.room-select-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #56108f;
}

.room-select-interface {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.username-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.username-container input[type=text] {
  height: 2rem;
  width: 13rem;
  padding-left: .6rem;
  border: 1px solid #56108f;
  border-radius: .4rem;
  font-size: .9rem;
}

.username-container input[type=text]:focus {
  outline: none;
  border: 2px solid #56108f;
}

.username-container input[type=text]:hover {
  border: 2px solid #56108f;
}

.available-rooms {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lobby-room-button {
  height: 2rem;
  width: 11rem;
  margin: 0.4rem;
  border: 1px solid #56108f;
  border-radius: .4rem;
  background: white;
  color: black;
  position: relative;
  font-size: .825rem;
  z-index: 0;
}

.lobby-room-button:focus {
  outline: none;
  border: 2px solid #56108f;
}

.room-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 83% 17%;
      grid-template-columns: 83% 17%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.room-button h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: .85rem;
  max-width: 9rem;
}

.lobby-room-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
  background: #56108f;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.lobby-room-button:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  color: white;
  border-radius: .2rem;
}

.lobby-room-button:hover {
  color: white;
}

.lobby-room-button2 {
  height: 2rem;
  width: 11rem;
  margin: 0.4rem;
  border: 1px solid #56108f;
  border-radius: .4rem;
  background: #56108f;
  color: white;
  position: relative;
  font-size: .825rem;
}

.lobby-room-button2:focus {
  outline: none;
  border: 2px solid #56108f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* ======================
			TYPOGRAPHY
   ====================== */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover:focus:active {
  text-decoration: underline;
}

/* ======================
			LAYOUT
   ====================== */
.landing-page-container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gamelobby-page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, 20%) 1fr minmax(150px, 20%);
      grid-template-columns: minmax(150px, 20%) 1fr minmax(150px, 20%);
  -ms-grid-rows: minmax(5vh, auto) minmax(90vh, 1fr) minmax(5vh, auto);
      grid-template-rows: minmax(5vh, auto) minmax(90vh, 1fr) minmax(5vh, auto);
  background: #161515;
}

.users-container {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-container h2,
.users-container h3 {
  color: white;
}

/* ======================
			BUTTONS & STUFF
   ======================  */
.button-1 {
  margin: 5px;
  width: 140px;
}

.select-1 {
  width: 100px;
}

.link-text {
  text-decoration: none;
  color: #6d16b4;
  position: relative;
}

.link-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .2rem;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.link-text:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=styles.css.map */